html, body {
    height:100%;
    width:100%;
    font-family: 'Arial Narrow', Arial, sans-serif;
    color:rgb(135, 135, 135);
}


.navbar {
    padding: 50%;
    background-color: #b8b8b8;
    color: #720101;
    border-style: solid;
}
.navbar-nav li {
    padding-right: 40px;
}
.nav-link {
    font-size: 1.5em !important;
}


#about {
    height: 100px;
    width: 100px;
    margin-bottom: 50rem;
    margin-left: -20rem;

}


#image2 {
    height: 400px;
    width: 600px;
    margin-left: -250%;
    margin-bottom: 100%;
    border-style: solid;
}


.padding {
    padding-bottom: 2rem;
}

.lead {
    width: 75%;
    margin: 0 auto;
    padding-top: 1rem;
}

.welcome hr {
    border-top: 2px solid #720101;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem
}



